@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Heebo:wght@300&family=Inter:wght@600&family=Open+Sans&family=Oswald&family=Playfair+Display:ital@1&family=Poppins:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hedvig Letters Serif', serif;
    /* font-family: 'Heebo', sans-serif; */
}
.main-container{
    width: 100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-block: 20px;
    /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(207,196,187,1) 100%); */
    background-color: #A75D5D;
    position: relative;
}
.mini-nav{
    width: 100%;
    height: auto;
    padding-inline: 5px;
    position: absolute;
    top: 05px
}
.img{
    width: 15%;
    height: 80px;
    background-image: url(./img/f6a4fcbd45cb1cd36e1b2fb088a3eabc.png);
    background-position: center;
    background-size: cover;
    border-radius: 6px;
}
.nav-bar{
    width: 50%;
    height: 80px;
    /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(224,139,60,1) 100%); */
    background-color: #D3756B;
    border: 1.5px solid black;
    border-radius: 15px;

}
.nav-bar span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 20px;
    padding-inline: 30px;
}
.container{
    width: 70%;
    height: auto;
    margin-block: 30px;
    /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(236,251,50,1) 100%, rgba(242,253,45,1) 100%); */
    background-color: #F0997D;
    border: 1.5px solid black;
    border-radius: 15px;
}
.container form{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 30px;
}
.container form input{
    width: 50%;
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
    letter-spacing: 2px;
    border: 1px solid gray;
    border-radius: 5px;
}

.container form button{
    width: 50%;
    height: 40px;
    font-size: 18px;
    margin-top: 30px;
    letter-spacing: 2px;
    border:none;
    border-radius: 5px;
    color: black;
    /* background-color: rgb(7, 122, 7); */
    background-color: #FFC3A1;
}
.list-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 100%; */
    /* height: auto; */
    padding-top: 30px;
    padding-bottom: 20px;
    list-style: none;
}
.list-group-item{
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.btn{
    width: 70px;
    height: 30px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    margin-top: 15px;
}
.btn:hover{
    background-color:rgb(124, 17, 17);
}



@media (max-width : 768px){

    .main-container{
        width: 100%;
        min-height: 100vh;
    }
    .mini-nav{
        display: none;
    }
    .img{
        display: none;
    }
   
    .nav-bar{
        width: 90%;
        height: 80px;
    }

    .container{
        width: 90%;
        height: auto;
    }

    .container form input{
        width: 80%;
    }
    .container form button{
        width: 80%;
    }
    .list-group-item{
        width: 250px;
    }
}